.content-for-body-2{
  width: 80vw;
  height: 60vh;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 auto;
  margin-top: 75px;
  margin-bottom: 150px;
  border-bottom: 2px solid grey;
  padding-bottom: 25px;
}
.content-section2-languages{
  height: 500px;
  width: 250px;
  float: right;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border: 3px solid black;
  text-align: center;
  padding-top: 10px;
}
.language{
  height: 62px;
  width: 240px;
  margin: 0 auto;
  padding-top: 20px;
  font-size: 44px;
  font-family: 'Crushed', cursive;
  color: grey;
}
.html{
  background-color: #FCE855;
}
.css{
  background-color: #C0D72F;
}
.ruby{
  background-color: #FC9931;
}
.rails{
  background-color: #F32C43;
}
.javascript{
  background-color: #731E8E;
}
.reactjs{
  background-color: #C31E6D;
}
.content-section2-header{
  color: grey;
  font-size: 12vh;
  font-family: 'Crushed', cursive;
  display: inline-flex;
  float: left;
  border-bottom: 2px solid grey;
}
.content-section2-body{
  margin-top: 20px;
  color: lightgrey;
  font-size: 4vh;
  font-family: 'Comfortaa', cursive;
  display: inline-flex;
  float: left;
  width: 60vw;
}
