.content-for-body-top{
  width: 90vw;
  height: 35vw;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 auto;
  border-bottom: 2px solid grey;
  padding-bottom: 1.5vw;
}
.content-section1-image{
  display: inline-flex;
  justify-content: space-around;
  height: 30vw;
  width: 25vw;
  float: left;
  margin-top: 3vw;
  margin-left: 1.5vw;
  border: 3px solid white;
}
.content-section-header{
  color: grey;
  font-size: 5vw;
  font-family: 'Crushed', cursive;
  display: inline-flex;
  float: right;
  margin-right: 1vw;
  border-bottom: 2px solid grey;
  margin-bottom: .5vw;
}
.content-section1-body{
  color: lightgrey;
  font-size: 2vw;
  font-family: 'Comfortaa', cursive;
  display: inline-flex;
  float: right;
  width: 60vw;
  margin-bottom: 4vw;
}
.links{
  display: inline-flex;
  float: right;
}
.logoz{
    margin-top: 5vw;
  height: 9vw;
  width: 9vw;
  margin-left: .5vw;
  margin-right: .5vw;
}
.nycda-logo{
  width: 20vw;
  margin-right: 1vw;
}
.arrowdown{
    margin-left: 44vw;
}
.arrow{
    height: 10vw;
    width: 10vw;
}

.content-section2{
    width: 20vw;
}
.content-for-body-second{
    width: 95vw;
    height: 260vw;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 auto;
    margin-top: 8vw;
    margin-bottom: 1vw;
    border-bottom: 1px solid grey;
    padding-bottom: 1.5vw;
    transition: all 1s;
}
.content-section2-body{
  color: lightgrey;
  font-size: 2vw;
  font-family: 'Comfortaa', cursive;
}
.content-section2-descrip{
    color: lightgrey;
    font-size: 2vw;
    font-family: 'Quicksand', sans-serif;
    display: block;
    margin-bottom: 1vw;
}
.content-section2-body a{
  text-decoration: none;
  color: lightgrey;
  font-size: 5vw;
  font-family: 'Comfortaa', cursive;
}
.carbonprint{
    text-align: center;
}
.carbonpicture{
    height: 30vw;
    width: 60vw;
    margin-left: 5vw;
    margin-right: 5vw;
    transition: all 1s;
}
.carbonpicture:hover{
    height: 50vw;
    width: 70vw;
}
.carbonpicture:hover{
    height: 50vw;
    width: 70vw;
}
.paperboy{
    text-align: center;
}
.paperboypicture{
    height: 30vw;
    width: 60vw;
    margin-left: 5vw;
    margin-right: 5vw;
    transition: all 1s;
}
.paperboypicture:hover{
    height: 50vw;
    width: 70vw;
}
.content-section2-header{
  color: grey;
  font-size: 5vw;
  font-family: 'Crushed', cursive;
  display: inline-flex;
  margin-right: 1vw;
  border-bottom: 2px solid grey;
  margin-bottom: .5vw;
}
